

<div id="footer">
  <div class="container">
    <p class="muted credit" style="text-align: center" >

      &copy; 2013 <a href="http://www.example.com">Werewolf Mafia</a> 2013   |
      <a href="" title="About">About</a>   |
      <%= link_to 'Contact', signup_path %>
    </p>
  </div>
</div>